#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.navBar{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}
.navBarCategory{
    padding: 10px;
}
#logo{
    height: 68px;
    width: 68px;
}


.heroImage{
    height: 600px;
    background-image: url("../images/girl-coneflower_orig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.heroImageText{
        background-image: linear-gradient( to bottom, rgba(0,0,0,0) 0%,  rgba(0,0,0,.54) 20%, rgba(0,0,0,.84) 100%);
}
.heroImageTitle{
    color: white;
    font-size: 48px;
    margin-left: 50px;
    
}
.normalButton{
    margin-left: 50px;
    margin-bottom: 70px;
    background-color: #98AD39;
    text-align: center;
    padding: 10px 35px;
    border: none;
    border-radius: 35px;
    font-weight: 700;
}
h1{
    font-family: 'Lilita One', cursive;
    font-size: 48px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.subtitle{
    font-size: 24px;
}
.Content1{
    margin: 150px 70px;
}
.Content1Text{
    margin: 20px;
}
.participatingSchools{
    margin: auto;
    position: center;
}
.participatingSchoolHead{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 56px;
    width: 972px;
    background-color: white;
}
.participatingSchoolCategory{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 55px;
    width: 972px;
    background-color: #98AD39;
    color: white;
}

.quotesSection{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    background-color: #D8E1DE;
}
.quotes{
    margin: 150px 70px;
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #355E3B;
    border-radius: 35px;
    text-justify: auto;
    color: white;
    padding: 50px;
}
h4, .quoteBy{
    text-align: right;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}
p, .quoteText{
    text-align: left;
    padding: 30px;
    font-style: normal;
}

.Content2{
    margin: 150px 70px;
    position: relative;
}
 ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
 }
 .specialButton{
    position: absolute;
    bottom: -10%;
    left: 30%;
    background-color: #B26466;
    color: white;
    text-align: center;
    padding: 10px 35px;
    border: none;
    border-radius: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

footer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8E1DE;
}
.footerNavBar{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Donate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}